.wrapper {
  display: flex;
  width: 95%;
  margin: 20px auto;
}

.container {
  flex: 1;
  padding: 20px;
  margin: 5px
}

.alpha,
.gamma {
  background-color: bisque;
}

.beta,
.delta {
  background-color: skyblue;
}